body {
  background-color: #ffede8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.gridItem {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.2s;

  /* object-fit: cover;
  width: 20vw; */
}
img {
  object-fit: cover;
  width: 20vw;
  height: 25vh;
}
.title {
  color: white;
  background-color: #e68d71;
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
}
.shadow {
  filter: drop-shadow(0 0 8px #f16b42);
}

@media screen and (max-width: 800px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
  img {
    width: 40vw;
  }
}

.toggle,
.readBtn {
  background-color: #e68d71;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-align: center;
}
.toggle:active,
.readBtn:active {
  scale: 98%;
}

.box {
  position: absolute;
  border-radius: 10px;
  padding: 30px;
  width: 70%;
  background-color: #3b3b3b;
  color: white;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
  top: 200px;
}
.hidden {
  top: -400px;
}
h3 {
  margin: 0;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
.voices {
  /* all: unset; */
  background-color: #e68d71;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0;
}
textarea {
  all: unset;
  border-radius: 5px;
  border: 2px solid white;
  margin: 10px 0;
  background-color: white;
  padding: 5px 10px;
  min-height: 120px;
  color: black;
}
textarea:focus {
  border: 2px solid skyblue;
  filter: drop-shadow(0 0 3px skyblue);
}
